.m{
    margin-top: 50px;
    width: 1200px;
    
}
.table{
    width: 1100px;
    align-content: center;
    align-items: center;
    text-align: center;
    ;

}
.disp{
    padding-left: 10%;
}
.input{
    width: 150px;
}